*
{
    margin: 0;
    padding: 0;

}

body
{
    background-color: #000;
}

a
{   
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    transform: translate(-50%,-50%);
    text-decoration: none;
    font-size: 24px;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    color: #fff;
    border-radius: 50px;
    z-index: 1;
}
a::before
{
    content: '';
    position: absolute;
    left: -5px;
    top: -5px;
    right: -5px;
    bottom: -5px;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 50px;
    filter: blur(20px);
    z-index: -1;
}

a:hover 
{
    animation: sun 8s infinite;
}
a:hover::before
{
    animation: sun 8s infinite;
}
@keyframes sun
{
    100%
    {
        background-position: -400% 0;
    }
}